<!--Sets user to current user when users is nil, eg home page -->
<% @user ||= current_user %>

<div>
	<a href="<%= following_user_path(@user)%>">
		
		<strong id="following" class = "stat">
			<%= @user.followed_users.count %>
		</strong>
		Following

	</a>
	<a href="<%= followers_user_path(@user)%>">
		<strong id="followers" class = "stat">
			<%= @user.followers.count %>
		</strong>
		Followers
	</a>

</div>